/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
  margin: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.col-3 {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 20px 0;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  margin-bottom: 15px;
}

.fieldColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldRow {
  justify-content: space-evenly;
  padding: 15px 0;
}

.fieldRow > label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.fieldRow > output {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.formButton {
  width: 100px;
  margin: 20px 50% 10px 50%;
}

img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  color: white;
  background: #EBCAA4;
}

.weather {
  background: #496A81;
}

.display {
  background: #66999B;
}

.dataInput {
  background: #B3AF8F;
}

.fieldColumn > :nth-child(odd) {
  background: #EBCAA4;
}

.formButton {
  background-color: #2B3A67;
  color: white;
}

/*
SLIDERS
*/

input[type=range]::-webkit-slider-runnable-track {
  /* width: 100%;*/
  height: 15px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000;
  background: #66999B;
  border-radius: 0px;
  /* border: 1px solid #000000; */
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 24px;
  width: 22px;
  border-radius: 13px;
  background: #66999B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #66999B;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 24px;
  width: 22px;
  border-radius: 13px;
  background: #FFFFFF;
  cursor: pointer;
}