/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
  margin: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.col-3 {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 20px 0;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  margin-bottom: 15px;
}

.fieldColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldRow {
  justify-content: space-evenly;
  padding: 15px 0;
}

.fieldRow > label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.fieldRow > output {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.formButton {
  width: 100px;
  margin: 20px 50% 10px 50%;
}

img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
