<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Barclime</title>

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Basic&family=Cairo&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/auth.css">
	</head>
<body>
    <section class="infoHeader shadow">
        <a href="/" class="home">
            <img src="img/logo.png" alt="" class="logo">
            <h2>Barclime</h2>
        </a>
    </section>
    <section class="info shadow">
        <section class="tagline shadow">
            <h1>Track Your Shot Data</h1>
            <p>Pull better espresso, easily and consistently</p>
        </section>
        <section class="buttonWrapper">
            <a href="/login" class="lightBlueBack shadow"> Login</a>
            <a href="/signup" class="darkBlueBack shadow"> Signup</a>
        </section>
    </section>
</body>
</html>