/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background: #93C1BF;
}

/* Base Fonts */
h1,
h3,
h4,
.display > span,
a {
  font-family: 'Cairo', sans-serif;
}

h2,
label,
output,
button {
  font-family: 'Basic', sans-serif;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  font-family: 'Basic', sans-serif;
}

td,
th {
  font-size: 1.5rem;
  font-family: 'Basic', sans-serif;
}

.display > span {
  font-size: 5rem;
}

.inches {
  display: inline;
  font-size: 1rem;
}

label,
output {
  font-size: 2.4rem;
  text-transform: uppercase;
}

button {
  font-size: 3rem;
  text-transform: uppercase;
}

.editButton {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  margin: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  text-align: center;
  padding: 7px;
}

.profileIcon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.headerLink {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.logout {
  position: absolute;
  top: 48px;
  left: 6.5px;
}

/* .col-2 {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.col-3 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
} */

.weather {
  padding: 10px 20px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  padding: 0 0 10px;
  border-radius: 10px;
  margin: 10px;
}

.display h4 {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

span {
  display: inline-block;
}

.press {
  display: flex;
}

.legend {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* Form */

.fieldColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.fieldRow {
  width: 300px;
  display: grid;
  grid-template-columns: 50% 50%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around; */
  gap: 15px;
  padding: 10px 0;
}

.fieldRow > label {
  display: inline-block;
  text-align: right;
}

.fieldRow > output {
  display: inline-block;
  text-align: left;
}

.fieldRow > input[type=range] {
  width: 300px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.fieldRow:last-of-type {
  width: 350px;
  margin-top: 10px;
}

.formButton {
  width: 100px;
  margin: 10px 50% 10px 50%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

img{
  display: block;
  margin: 0 auto;
}

/* Data Display */

.shotDisplay {
  justify-content: space-around;
  padding: 2rem;
}

.shotItem {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 5px;
}

.shotTable {
  width: 80%;
  margin: 10px auto;
  table-layout: fixed;
}

.editTable {
  width: 80%;
  margin: 10px auto;
  table-layout: fixed;
}

.editRoastDate {
  width: 100%;
}

.userInfo > h3 {
  vertical-align: center;
  text-align: left;
  padding: 10px;
}

.twoButtons {
  display: flex;
}

.editButton {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: right;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.header {
  background-color: #2B3A67;
}

.fa-user-circle {
  color: white;
}

.weather {
  background: #496A81;
}

.display {
  background: #8FCCE1;
}

.display h4 {
  background-color: #2B3A67;
}

.legend {
  background-color: #90B38F;
}

/* .dataInput {
  background: #B3AF8F;
} */

.formButton {
  background-color: #90B38F;
  color: white;
}

/* Data Display */

.shotItem {
  background-color: #90B38F;
}

.shotTable {
  border-collapse: collapse;
  border-color: #2B3A67;
}

.editButton {
  background-color: #2B3A67;
}

.deleteButton {
  background-color: #496A81;
}

/*********************
INPUT STYLES
*********************/

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 300px;
  height: 30px;
  cursor: pointer;
  /* animate: 0.2s; */
  /* box-shadow: 1px 1px 1px #000000; */
  border: #90B38F 3px solid;
  background: #DDE7CF;
  border-radius: 5px;
  /* border: 1px solid #000000; */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: 14px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 20px;
  border-radius: 5px;
  background: #2B3A67;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

/* input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DDE7CF;
} */

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #DDE7CF;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 24px;
  width: 22px;
  border-radius: 13px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=date] {
  all: unset;
  width: 67%;
  font-family: 'Basic', sans-serif;
  font-size: 2rem;
  background-color: #496A81;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-top: -7.5px;
  border-radius: 10px;
}
::-webkit-calendar-picker-indicator{
  display: none;
  background-color: white;
}